
// Custom Styles

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.navbar {
  background: lightblue;
  font-size: 20px;
}
.col-sm-1 {
  background-color: lightyellow;
}
.col-sm-2 {
  background-color: pink;
}
.col-sm-9 {
  background-color: lightgreen;
}
