
// Custom Styles

body {
  background: #d0e3ea;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
.heading {
  text-align: center;
}
#box {
  bottom: 1px;
  color: red;
}

.navbar {
  background: #12779c;
  font-size: 20px;
  color: #000;
}
.col-sm-2 {
  //background-color: lightyellow;
}

.panel-title {
  font-size: 10px;
}
.col-sm-8 {
  //background-color: lightgreen;
}
.datafromserver {
  color: red;
  font-style: italic;
}
